# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE files
fitness-notebook-server/bin/
fitness-notebook-server/.settings/
.classpath
.project

# Ignore Spring settings
application.yml
